<h3>Bienvenido a <%= title %></h3>
El portal donde podrá crear sus propios juegos!
<p></p>
<img src="/images/JuanmaCarrasco.jpg" weidth= "100" height="100" alt="Juan Mar&iacute;a Carrasco" border="2">
<p>Autor: Juan Mar&iacute;a Carrasco</p>
